.MyPay{
    position: relative;

    width: 600px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}

.MyPay-image{
    position: absolute;
    top: 20px;
    left: 20px;

    width: 160px;
    height: 160px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}

.MyPay-name{
    position: absolute;
    top: 30px;
    left: 200px;

    font-weight: bold;
}

.MyPay-catagory{
    position: absolute;
    top: 60px;
    left: 200px;

    color: #606060;
}

.MyPay-date{
    position: absolute;
    top: 20px;
    right: 20px;
}

.MyPay-count{
    position: absolute;
    bottom: 60px;
    left: 200px;

    font-size: 14px;
}

.MyPay-price{
    position: absolute;
    bottom: 30px;
    left: 200px;

    font-weight: bold;
}

.MyPay-btn{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.MyPay-btn button{
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    cursor: pointer;

    font-size: 16px;
}